
    <div class="d-flex float-none login-dark" style="height: 695px;width: 1366px;background: url('assets/img/fundo-doutor.jpg') center / auto no-repeat;">
       
            <div class="row padMar margenesArriba10porCiento" style="width: 830px;margin-left: 14px;height: 449px;margin-right: 0px;min-width: 103px;">
                <div class="col" style="width: 257px;height: 530px;">
                    <div id="simpleLogin">
                        <div class="contenedor-login" style="padding: 4px;color: rgb(51,51,51);font-size: -45px;margin: 400px 306;width: 617px;margin-right: 127.5px;background: rgba(255,255,255,0);">
                            <div class="imagen"></div>
                            <form class="border rounded" style="height: 468px;width: 814px;margin-top: 85px;margin-left: 0px;max-width: 609px;background: rgb(255,255,255);box-shadow: 0px 0px 20px 1px rgb(0,0,0);border-radius: 0px;border-width: 0px;border-style: dotted;">
                                <div class="media" style="width: 468px;"><img class="mr-3" style="width: 432px;margin-left: 62px;background: rgba(255,255,255,0);" src="assets/img/farm.png" />
                                    <div class="media-body"></div>
                                </div>
                                <input id="usuario" class="form-control form-input" type="text" placeholder="Usuario"/><br>
                                <input id="senha" class="form-control form-input" type="password" placeholder="Senha"/>
                                
                                <button type="submit" name="action" onclick="fazerLogin();" class='btn btn-primary btn-block' style="margin-top: 29px;width: 300px;margin-left: 96px">LOGIN</button>
                            </form>
                        </div>
                    </div>
                    <h1 class="padMar headerOmolds text-center" style="width: 1231px;"></h1>
                </div>
            </div>
            <footer class="footerOmoldsOscuro"></footer>
        </div>
  