element.style {
    width: 1366px;
    height: 693px;
  }
  
#usuario,#senha{
  width: 485px;max-width: 500px;margin-left: 18.5px;color: rgb(255,255,255);background: #ffffff;margin-top: -11px;
}  